.badge {
  background-color: tomato;
  width : 24px;
  height : 24px;
  border-radius: 12px;
  display : flex;
  justify-content : center;
  align-items : center;
  color: white;
  font-weight : 600;
}

.badge2 {
  background-color : tomato;
  display: flex;
  width : 6px;
  height : 6px;
  border-radius: 3px;
  position: absolute;
  right : -70px;
  top : -24px;
}

.badge3 {
  background-color : tomato;
  display: flex;
  width : 6px;
  height : 6px;
  border-radius: 3px;
  position: absolute;
  right : -120px;
  top : -24px;
}